import(methods)
import(mongo)
import(Proc4)
import(Peanut)
import(futile.logger)
importFrom("withr","defer")
## Use explict imports from RNetica so we can keep track of dependencies.
#import(RNetica)
#importFrom("mongolite","mongo")
importFrom("jsonlite", "toJSON", "fromJSON","base64_enc","base64_dec")
importFrom("utils","read.csv","write.csv")
importFrom("stats","na.omit")

export(StudentRecord, sm, "sm<-", stats, evidence, "evidence<-",
       statNames, histNames, stat,
       history, parseStudentRecord, parseStats, stats2json, unparseStats,
       fetchSM, unpackSM, updateRecord,
       StudentRecordSet, getSR, saveSR, newSR, clearSRs,
       getIssues, logIssue)
exportClasses(StudentRecord,StudentRecordSet)
exportMethods(evidence, "evidence<-",
              sm, stats, app, uid, context, timestamp, mess,
              as.jlist, toString, show, statNames, histNames, stat,
              history)

export(EvidenceSet, parseEvidence, seqno, "seqno<-", observables)
exportClasses(EvidenceSet)
exportMethods(seqno, "seqno<-")
export(EvidenceLog, eid, observables, useObs, ignoreObs)
exportClasses("EvidenceLog")
exportMethods("useObs","ignoreObs")

exportClass(BNEngine,BNEngineMongo)
export(BNEngine,BNEngineMongo, newBNEngineMongo, loadManifest, setupDefaultSR,
       logEvidence, accumulateEvidence, configStats, updateStats,
       announceStats, baselineHist, updateHist, getRecordForUser,
       handleEvidence, mainLoop, updateSM)
exportMethods(notifyListeners)

export(trimTable,doBuild,doRunrun)

exportClass(BNEngineNDB)
export(BNEngineNDB, newBNEngineNDB)

export(local_warehouses)




