import(methods)
import(Proc4)
import(Peanut)
import(CPTtools)
## Use explict imports from RNetica so we can keep track of dependencies.
#import(RNetica)
importFrom("mongolite","mongo")
importFrom("jsonlite", "toJSON", "fromJSON", "unbox","base64_enc","base64_dec")


export(StudentRecord, sm, stats, evidence)
exportClasses(StudentRecord)
exportMethods(app,uid,context,timestamp,evidence,sm,stats,
              as.jlist,toString,show)

export(EvidenceSet,parseEvidence,seqno)
exportClasses(EvidenceSet)
exportMethods(seqno)







